@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.eot');
    src: url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.woff2') format('woff2'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.woff') format('woff'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.ttf') format('truetype'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: 500;
    font-style: normal;
}

#app {
    font-family: Raleway, sans-serif;
    background-color: #b07cf7;
    min-height: 100vh;
}

.app-blog {
    padding: 100px 0;
}

.blog-header {
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    margin-bottom: 45px;
}

.blog-title {
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 25px;
}

.blog-description {
    font-weight: 300;
    font-size: 17px;
}

.blog-post {
    height: 307px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 1px 10px 20px 0px rgba(0,0,0,0.45);
}
.blog-post_under-layer{
    width: 100%;
    height: 151px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    position:absolute;
    bottom: 0;

}
.blog-post_date{
    display:block;
    width: 60px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 25px;
    font-weight: 700;
    color:#fff;
    background:rgba(38,38,38, .5);
    border-radius: 5px;
    position: absolute;
    top:20px;
    left:20px;
}
.date-month{
    font-size: 21px;
    
}
.blog-post_title{
    font-size: 20px;
    height: 48px;
    line-height: 25px;
    color:#ffffff;
    position: absolute;
    bottom: 60px;
    left:20px;
    right:45px;
    overflow: hidden;
    text-overflow: ellipsis;   
}
.blog-post_info{
    position: absolute;
    bottom: 13px;
    left:20px;
    color:#ffffff;
    font-size: 13px;

}
.my_button button{
    background-color:#F72B3B;
    color:white;
    text-transform: uppercase;
    border-radius:3px;
    padding: 15px 50px;
    font-size: 18px;
    box-shadow: 1px 11px 20px 0px rgba(0,0,0,0.45);
}
.my_button{
    margin-top: 75px;
}

